.game-board {
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-gap: 6px; /* Gap between cards */
}

.board-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #585aa9;
  /* border: 2px solid #6769c4; */
  /* border: 2px solid #32a1d6; */
}

.game-dashboard-top {
  display: flex;
  justify-content: space-between;
}

.game-alert {
  position: absolute;
  left: 6.42em;
  top: 1em;
  width: 50%;
}
.round-count {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
}
.round-count > h2 {
  margin: 0;
}
.round-count > p {
  /* margin-right: 1em; */
  margin: 0 0.5em 0 0;
}
.game-dashboard-top > h3 {
  margin: 0;
}

.game-dashboard-bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.new-game:hover {
  /* border-color: #32a1d6; */
  border-color: #6769c4;
}

.score-count {
  width: 5.5em;
  margin-top: 0.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.score-count > h3 {
  margin: 0 0.5em 0 0;
  width: 100%;
  text-align: right;
}
.score-count > p {
  margin: 0;
}

.new-game {
  position: relative;
  bottom: 2em;
}

.won {
  padding-top: 0.25em;
}
