.highscores-root {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  transition: opacity 350ms ease-out;
}

.highscores-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 80%;
  color: #e1e1ff;
}

.highscores-container > h1 {
  margin-top: 1.5rem;
  color: #fff300;
  font-size: 4.5em;
}

.highscores-table {
  font-size: 2.75rem;
  width: 100%;
}

.highscores-table thead {
  color: #f50090;
}
.highscores-table th {
  text-align: left;
}

.highscores-table tbody {
  color: #00e9ff;
}

.standing-col {
  text-align: left;
  width: 8%;
}

.name-col {
  text-align: left;
  width: 35%;
}

.total-col {
  text-align: left;
  width: 27%;
}

#date-th {
  text-align: right;
}

.date-col {
  text-align: right;
  width: 30%;
}

.game-link {
  position: sticky;
  bottom: 2rem;
}
.game-link button {
  background-color: #1a1a1af2;
}

/* .loading-container {
  margin-top: 5rem;
} */
