.highscores-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 80%;
}

.highscores-container {
  color: #e1e1ff;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: opacity 100ms ease;
}

.highscores-container > h1 {
  color: #f7f7ff;
  font-size: 5.2em;
}

.highscores-table {
  font-size: 3rem;
  width: 100%;
}

.highscores-table thead {
  color: #f50090;
}
.highscores-table th {
  text-align: left;
}

.highscores-table tbody {
  color: #00e9ff;
}

.standing-col {
  text-align: left;
  width: 10%;
}

.name-col {
  text-align: left;
  width: 35%;
}

.total-col {
  text-align: left;
  width: 22%;
}

.date-col {
  text-align: left;
  width: 30%;
}

.game-link {
  position: relative;
  bottom: 4.5rem;
  box-sizing: border-box;
  width: 107px;
  height: 107px;
  border: 2px solid #585aa9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.game-link:hover {
  background-color: #000128;
}
