.settings-container {
    position: absolute;
    top: 1rem;
    right: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    z-index: 30;
  }
  
  .settings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 1;
    transition: opacity 100ms ease;
  }
  
  .settings.opaque {
    opacity: 0;
  }
  
  .slider {
    display: flex;
  }
  
  input[type="range"] {
    margin-left: 0.5rem;
    background-size: 37.5% 100%;
  }
  
  .settings-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .settings-btn:active {
    background-color: #242aff;
  }
  .settings-btn.cog.opaque {
    opacity: 0.45;
  }
  .settings-btn.reset {
    height: 26px;
    width: 26px;
  }
  
  .game-reset:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    transform: translateX(-120%) translateY(10%);
    background-color: #3b3b3b;
    padding: 5px 10px;
    border-radius: 4px;
    color: salmon;
    font-size: 12px;
    z-index: 100;
    white-space: nowrap;
  }
  