.btn {
  box-sizing: border-box;
  height: 107px;
  width: 107px;
  border: 1px solid transparent;
  padding: 0.6em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: ease-out border-color 100ms;
}

.gameboard-main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d6ecff;
  position: relative;
}

.game-board {
  height: fit-content;
  width: fit-content;
  display: grid;
  margin-top: 75px;
  grid-gap: 6px;
  z-index: 10;
}

.board-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #585aa9;
}

.game-dashboard-top {
  position: fixed;
  left: 0;
  top: 7.5rem;
  width: 100%;
  z-index: 20;
}
.game-dashboard-top.non-interactive {
  pointer-events: none;
  top: 2rem;
}

.title-item {
  width: 100%;
}
.game-alert {
  margin: 0;
}

.name-container {
  display: flex;
  justify-content: center;
}
.name-input {
  box-sizing: border-box;
  font-size: 40px;
  height: 107px;
  padding-left: 20px;
  margin-right: 6px;
  width: 11em;
  border: 2px solid #585aa9;
  background-color: rgba(26, 26, 26, 0.6);
}
.name-input:hover {
  border-color: #9294ff;
}

.name-input:focus,
.name-input:focus-visible {
  outline: none;
}
.name-btn {
  font-size: 34px;
}
.game-dashboard-top > h3 {
  margin: 0;
}

.game-dashboard-side {
  opacity: 0.6;
  display: flex;
  grid-gap: 6px;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  flex-direction: column;
  transition: opacity 125ms ease;
}
.dashboard-item {
  box-sizing: border-box;
  width: 107px;
  height: 107px;
  border: 1px solid #585aa9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dashboard-item > h2 {
  margin: 0;
}
.dashboard-item > p {
  margin: 0;
}
.game-dashboard-side.solid {
  opacity: 1;
}

.score > h3 {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: center;
}

.highscores {
  color: #d6ecff;
  font-weight: 400;
  border-color: #585aa9;
  transition:
    border-color,
    color 1.5s ease;
}
.highscores:hover {
  background-color: #000128;
}
.highscores.end {
  border: 3px solid #3549ff;
}
.highscores.end:hover {
  border-color: #585aa9;
}
.highscores.disabled {
  user-select: none;
  cursor: default;
  color: #ffffff4d;
  border: 2px solid #585aa9;
  background-color: #151515ff;
}

.new-game {
  border: 1px solid #585aa9;
  bottom: 2em;
  font-weight: 400;
  color: #d6ecff;
  opacity: 1;
  transition: opacity 100ms ease;
}

.new-game:hover {
  border-color: #9294ff;
  background-color: #000128;
}

.new-game.disabled {
  user-select: none;
  cursor: default;
  border-color: #585aa9;
  background-color: #151515ff;
  opacity: 0.6;
}

@media (max-width: 1200px) {
  .name-input {
    font-size: 35px;
    height: 90px;
    color: #d6ecff;
  }
  .dashboard-item {
    width: 90px;
    height: 90px;
    color: #d6ecff;
  }
  .new-game {
    width: 90px;
    height: 90px;
  }
  .btn {
    height: 90px;
    width: 90px;
  }
  .settings-container {
    scale: 0.85;
    top: 1rem;
    right: -2rem;
  }
}

@media (max-width: 1000px) {
  .name-input {
    font-size: 24px;
    height: 60px;
    color: #d6ecff;
  }
  .title-item {
    font-size: 26px;
  }
  .game-dashboard-side {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 2rem;
    top: auto;
    left: auto;
    flex-direction: row;
  }

  .dashboard-item {
    width: 60px;
    height: 60px;
    font-size: 12px;
    color: #d6ecff;
  }
  .name-btn {
    font-size: 16px;
  }
  .game-dashboard-side {
  }
  .new-game {
    width: 60px;
    height: 60px;
    font-size: 12px;
  }
  .btn {
    height: 60px;
    width: 60px;
  }
  .settings-container {
    top: 0.5rem;
  }
}

@media (max-width: 540px) {
  .game-dashboard-top.non-interactive {
    left: 0;
    top: 7.5rem;
  }
}
@media (max-width: 480px) {
  .game-board {
    margin-top: 0;
  }
  .game-dashboard-top {
    left: 0;
  }
  .name-input {
    font-size: 16px;
    height: 45px;
    color: #d6ecff;
  }
  .dashboard-item {
    width: 45px;
    height: 45px;
    font-size: 10px;
    color: #d6ecff;
  }
  .name-btn {
    font-size: 14px;
  }
  .dashboard-item h2 {
    font-size: 12px;
  }
  .new-game {
    font-size: 10px;
    width: 45px;
    height: 45px;
  }
  .btn {
    height: 45px;
    width: 45px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    border-color: #9294ff;
  }
}
