.gameboard-main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d6ecff;
}

.game-board {
  height: fit-content;
  width: fit-content;
  display: grid;
  margin-top: 75px;
  grid-gap: 6px;
  z-index: 10;
}

.board-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #585aa9;
}

.game-dashboard-top {
  position: fixed;
  left: 0;
  top: 1.5rem;
  width: 100%;
  z-index: 20;
}

.title-item {
  margin-top: 0;
  width: 100%;
}

.name-container {
  display: flex;
  justify-content: center;
}
.name-input {
  box-sizing: border-box;
  font-size: 40px;
  height: 107px;
  padding-left: 20px;
  margin-right: 6px;
  width: 11em;
  border: 2px solid #585aa9;
}
.name-input:hover {
  border-color: #9294ff;
}

.name-input:focus,
.name-input:focus-visible {
  outline: none;
}
.name-btn {
  font-size: 34px;
}
.game-dashboard-top > h3 {
  margin: 0;
}

.game-dashboard-side {
  opacity: 0.45;
  display: flex;
  grid-gap: 6px;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  flex-direction: column;
}
.dashboard-item {
  box-sizing: border-box;
  width: 107px;
  height: 107px;
  border: 2px solid #585aa9;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.dashboard-item > h2 {
  margin: 0;
}
.dashboard-item > p {
  margin: 0;
}
.game-dashboard-side.solid {
  opacity: 1;
}

.score > h3 {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: center;
}

.highscores {
  font-weight: 400;
}
.highscores:hover {
  background-color: #000128;
}
.highscores.end {
  border-color: #9294ff;
}
.highscores.end:hover {
  border-color: #585aa9;
}
.highscores.disabled {
  user-select: none;
  cursor: default;
  border-color: #585aa9;
  background-color: #1a1a1a;
}

.new-game {
  border: 2px solid #585aa9;
  bottom: 2em;
  font-weight: 400;
}

.new-game:hover {
  border-color: #9294ff;
  background-color: #000128;
}
